@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mqeopy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mqeopy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?mqeopy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?mqeopy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?mqeopy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-up {
  &:before {
    content: $icon-angle-up; 
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down; 
  }
}
.icon-study {
  &:before {
    content: $icon-study; 
  }
}
.icon-libray {
  &:before {
    content: $icon-libray; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-book {
  &:before {
    content: $icon-book; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}

