$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "~@/assets/fonts" !default;

$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-study: "\e900";
$icon-libray: "\e901";
$icon-close: "\e902";
$icon-book: "\e904";
$icon-arrow-right: "\e905";

