.page {
  padding: 5rem 0px;
}

@media (max-width: $desktop) {
  section {
    > .container {
      padding: 0px 0.75rem;
    }
  }
}

// Blocks
.w-100{
  padding: 1.5rem;
  margin: $gap * 1.5 -1.5rem;
}

.block-bordered {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: $gap 1.5rem;
  margin: $gap * 1.5 -1.5rem;
}
.block-bordered ~ .block-bordered {
  border-top: none !important;
}

.dialog-box {
  background-color: #EEEEEE;
  border-radius: $gap;
  padding: $gap * 0.75;
  &.is-left {
    border-bottom-left-radius: 0px;
  }
  &.is-right {
    border-bottom-right-radius: 0px;
  }
}

.highlighted {
  background-image: url('~@/assets/images/highlighted-default.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding: $gap * 1.5;
  color: #fff;
  margin-bottom: 1.5rem;
  &.is-vertical {
    background-image: url('~@/assets/images/highlighted-vt.png');
    background-size: cover;
  }
  .title, .subtitle{
    color: white;
  }
}

.quotes {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  .quotes-image {    
    position: absolute;
    margin-left: 2rem;
    top: -50%;
  }

  .quotes-box {
    position: relative;
    margin: 0px auto 2rem;
    background: #f3f5f9 0% 0% no-repeat padding-box;
    border-radius: 13px;
    font-size: 14px;
    text-align: left;
    max-width: $tablet * 0.75;
    padding: 1rem 3rem;
    letter-spacing: 0px;
    color: #4b4b4b;
    .quotes-author {
      text-align: right;
    }
    &::before {
      background: url('~@/assets/images/aspas.png') no-repeat;
      background-size: contain;
      content: ' ';
      width: 113px;
      height: 113px;
      position: absolute;
      left: -12.5%;
      top: -17.5%;
    }
  }
}