//@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

@font-face{
  font-family: avenir-next-lt-pro-regular;
  src:url("~@/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"),
  url("~@/assets/fonts/AvenirNextLTPro-Regular.ttf") format("ttf");
}


html, body
{
  font-family:"avenir-next-lt-pro-regular";
}
