//@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

@font-face {
  font-family: avenir-next-lt-pro-regular;
  src: url('~@/assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: avenir-next-lt-pro-bold;
  src: url('~@/assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
  font-family: segoe-ui;
  src: url('~@/assets/fonts/Segoe-UI.woff') format('woff');
}

html,
body {
  font-family: 'avenir-next-lt-pro-regular';
}


.title {
  @include avenir-bold;
  &.heading {
    @extend .is-uppercase;
    font-size: 16px;
  }
  &.has-icon {
    display: flex;
    line-height: 26px;
    &::before {
      display: inline-block;
      background: url('~@/assets/images/icone-contextualizacao.png') no-repeat;
      background-position: center;
      content: ' ';
      width: 27px;
      height: 26px;
      margin-right: 1rem;
    }
  }
}

.is-uppercase {
  text-transform: uppercase !important;
}

p {
  &.abnt {
    text-indent: 2rem;
  }
}