@mixin avenir-bold{
  font-family: avenir-next-lt-pro-bold, Arial, Helvetica, sans-serif;
}

@mixin avenir{
  font-family: avenir-next-lt-pro-regular, Arial, Helvetica, sans-serif;
}

@mixin clearfix {
  &::after, &::before {
    content: ' ';
    display: table;
  }
}