@import '~bulma/sass/utilities/all';

// Theme
$primary: hsl(218, 100%, 21%);
$secondary: hsl(341, 59%, 47%);
$info: hsl(206, 86%, 36%);
$info-light: findLightColor($info);

$link: $secondary;

$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'secondary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'info-light': (
    $info-light,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  )
);

// Helpers
$directions: (
  t: 'top',
  b: 'bottom',
  l: 'left',
  r: 'right'
);

// Variables of environments
$footer-height: 250px;
$card-footer-border-top: 0.5px solid $border-light;
$blue-link: #00286c;
$grey-font: #8e8e8e;

$navbar-box-shadow-color: $blue-link;
$navbar-box-shadow-size: 0 1px 0 0;
$navbar-item-color: $grey-font;
$navbar-item-hover-color: $blue-link;
$navbar-height: 5.25rem;

$button-border-color: none;

$dropdown-content-shadow: none;
$dropdown-item-active-color: $blue-link;
$dropdown-item-active-background-color: none;

$max-width-trophies: 240px;

$lesson-card-height: 240px;
$lesson-card-width: 800px;