@import '~bulma/sass/utilities/all';

$primary: hsl(218, 100%, 21%);
$secondary: hsl(341, 59%, 47%);
$info: hsl(206, 86%, 36%);
$info-light: findLightColor($info);

$link: $secondary;

$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'secondary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'info-light': (
    $info-light,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  )
);